.main{
    border: 2px solid #000;
    display: flex;
    margin: 2px;	
}
img{
	width:200px;
}
.first{
	border: 2px solid #000;
	display: flex;
	margin: 2px;
}
.left{
	flex: 1;
	background-color:  #F08080;
    border: 2px solid #000; 
    margin:2px;
 }   
.right{
	flex:2;
	background-color: #FF69B4;  
	border:2px solid #000;
    margin: 2px;
}
#b{
	color: red;
	font-size: 10;
	font-style: bold italic;
}
table,td,tr{
	border:2px solid #000;
    border-collapse:collapse;
    margin-left:150px;
}
@media only screen and (max-width:450px){
.main{	
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.first{
	border: 2px solid #000;
	margin: 2px;
	flex-direction: column;
}
img{
	width: 100px;
	border-radius: 2px;
}
.left{
	background-color: #F5F5F5;
	border: 2px solid #000;
	margin: 2px;
}
.right{
	background-color: #F5F5F5;
	border: 2px solid #000;
	margin :2px;
}	
}
@media only screen and (min-width:481px) and (max-width:768px){
.main{	
    border: 2px solid #000;
    display: flex;
    margin: 2px;
    flex-wrap: wrap;
    flex-direction: column;	
}
.first{
	border: 2px solid #000;
	display:flex;
	margin: 2px;
	flex-direction: column;
}
.left{
	flex: 1;
	background-color: #ffb3b3;
	flex-direction: column;
	border: 2px solid #000;
	margin: 2px;
}
.right{
	flex:2;
	background-color: #FFFFCC;
	flex-direction: column;
	border:2px solid #000;
	margin:2px;
}
}